.navBar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    background-color: steelblue;
    align-items: center;
    padding: 10px;
}

.logoEmpresa {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.menuCategorias {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.menuCategorias li {
    text-transform: uppercase;
    color: white;
    list-style: none;
}

.menuCategorias li:active {
    text-transform: uppercase;
    color: red;
    list-style: none;
}