
.containerCard{
    width: 250px;
    background-color: #e1e4e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}
.imageCard{
    width: 100%;
    border-radius: 20px;
}